body {
    background: #f7f7f7;
}

/*头部标题栏*/
header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #f7f7f7;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

header .icon-iconcha {
    position: absolute;
    right: 10px;
}

/*主题内容*/
main {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
}

main .addcontrol {
    width: 100%;
}

main .controlTitle {
    font-size: 12px;
    color: #666;
    padding: 0 10px;
}

main .controlList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
}

main .controlList li {
    width: 20%;
    text-align: center;
    border: 1px solid #eee;
    margin-top: 10px;
    background: #ffffff;
    padding:5px 0;
}
main .controlList .fixed{
    color: red;
}
main .controlList li:not(:nth-of-type(4n)){
    margin-right: 18px;
}

main .controlList li a {
    display: block;
    width: 100%;
    height: 100%;
}

main .add {
    margin-top: 20px;
}
