/*底部导航栏*/
footer {
    width: 100%;
    height: 1.388888rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999999;
    border-top: 1px solid #eee;
    background: #ffffff;
}

footer ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    z-index:99999999;
}

footer ul li {
    height: 100%;
}

footer ul li a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0.277777rem;
    text-align: center;
    margin-top: 0.138888rem;
}

footer ul li a span {
    display: block;
}

footer ul li a .iconfont {
    font-size: 0.777777rem;
}

footer ul li .active {
    color: #D43D3D;
    -webkit-text-fill-color: #D43D3D;
}

