body {
    background: #e9e9e9;
    width: 100%;
    height: 100%;
}

/*标题*/
header {
    width: 100%;
    height: 1.111111rem;
    line-height: 1.111111rem;
    background: #ffffff;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    justify-content: space-around;
    border-bottom: 1px solid #eee;
}

header .left {
    width: 58%;
    text-align: right;
    font-size: 0.416666rem;
}

header .right {
    display: block;
    width: 30%;
    text-align: right;
    font-size: 0.722222rem;
}

/*好友动态*/
.friends {
    display: block;
    width: 100%;
    height: 1.944444rem;
    line-height: 1.944444rem;
    background: #ffffff;
    display: flex;
    margin-bottom: 0.416666rem;
}

.friends .left {
    width: 20%;
    height: 100%;
    text-align: center;
}

.friends .left span {
    width: 100%;
    padding: 0.277777rem;
    color: #fff;
    font-size: 0.777777rem;
    background: lightskyblue;
}
.friends .right{
	font-size:0.333333rem
}

main {
    width: 100%;
    height: 100%;
    /*background: #ffffff;*/
    position: absolute;
    top: 1.111111rem;
    left: 0;
    right: 0;
}

main .follow-item {
    width: 100%;
    height: 1.944444rem;
    display: flex;
    background: #ffffff;
    border-bottom: 1px solid #eee;
}

main .follow-item .left {
    width: 20%;
    height: 100%;
}

main .follow-item .left img {
    width: 1.388888rem;
    height: 1.388888rem;
    margin: 0.277777rem auto;
}

main .follow-item .right {
    width: 80%;
    height: 100%;
    padding: 0.555555rem 0 0.555555rem 0;
    display: flex;
    flex-wrap: wrap;
}

main .follow-item .right .title {
    width: 80%;
    height: 0.555555rem;
    font-weight: normal;
    font-size: 0.361111rem;
}

main .follow-item .right .time {
    font-size: 0.361111rem;
    height: 0.555555rem;
    color: #999;
}

main .follow-item .right .desc {
    font-size: 0.361111rem;
    height: 0.555555rem;
    color: #999;
    margin-top: -0.555555rem;
}

main .addDiv {
    width: 100%;
    height: 65%;
    position: absolute;
    text-align: center;
    background: #fff;
}

main .addDiv > a {
    display: block;
    width: 3.611111rem;
    height: 2.777777rem;
    margin: 40% auto;
}

main .addDiv > a .add {
    width: 1.666666rem;
    height: 1.666666rem;
    line-height: 1.666666rem;
    text-align: center;
    border: 1px dashed #999;
    margin: auto;
    margin-bottom: 0.555555rem;
}

main .addDiv > a .add span {
    font-size: 0.722222rem;
}

main .addDiv > a p {
    font-size: 0.361111rem;
    color: #999;
}