body {
    background: #fff;
}

header {
    width: 100%;
    height: 1.388888rem;
    line-height: 1.388888rem;
    background: #ffffff;
    display: flex;
    border-bottom: 1px solid #eee;
}

header .left {
    width: 10%;
}

header .left .icon-xiangzuo {
    font-size: 0.555555rem;
    padding-left: 0.277777rem;
}

header .center {
    width: 75%;
    padding-left: 0.277777rem;
}

header .center form {
    width: 90%;
    height: 70%;
    line-height: 0.972222rem;
    background: #eee;
    margin-top: 0.222222rem;
    padding-left: 0.277777rem;
    border-radius: 0.138888rem;
}

header .center form .icon-sousuo_sousuo {
    color: #999;
}

header .center form input {
    background: #eee;
    outline: none;
    font-size: 0.361111rem;
}
header .center form input:focus{
    color: blue;
}

header .right button {
    font-size: 0.416666rem;
    background: #fff;
    color: #999;
}