body {
    background: #e9e9e9;
}

/*头部标题栏*/
header {
    width: 100%;
    height: 1.388888rem;
    background: #ffffff;
    border-bottom: 1px solid #eee;
    display: flex;
}

header .left {
    width: 10%;
    text-align: center;
    line-height: 1.388888rem;
}

header .left .icon-xiangzuo {
    font-size: 0.555555rem;
}

header .center {
    width: 55%;
    line-height: 1.388888rem;
    text-align: right;
    font-size: 0.555555rem;
}

header .right {
    width: 35%;
    line-height: 1.388888rem;
    text-align: right;
    padding-right:0.277777rem;
}

header .right a {
    font-size: 0.444444rem;
}

/*头条活动轮播图*/
.banner {
    width: 100%;
    height: 1.944444rem;
    line-height: 1.944444rem;
    background: #ffffff;
    display: flex;
}

.banner .left {
    width:33%;
    height: 50%;
    line-height: 0.972222rem;
    margin: auto 0;
    border-right: 1px solid #eeeeee;
}

.banner .left .toutiao {
    padding-left: 0.416666rem;
    font-size: 0.555555rem;
    font-weight: bold;
}

.banner .left .huodong {
    font-weight: bold;
    font-size: 0.555555rem;
    color: red;
}

.banner .right {
    margin-left: 0.277777rem;
    overflow: hidden;
}
.banner .right .swiper-slide{
	font-size: 0.361111rem;
}

/*主题内容部分*/
main {
    width: 100%;
    height: 78.5%;
    position: absolute;
    margin-top: 0.416666rem;
    background: #ffffff;
}

main ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

main ul li {
    width: 33.1%;
    height: 2.777777rem;
    background: #ffffff;
    text-align: center;
    border-bottom: 1px solid #cccccc;
}

main ul li:not(:nth-of-type(3n)) {
    border-right: 1px solid #cccccc;
}

main ul li a {
    font-size: 0.361111rem;
}

main ul li .iconfont {
    font-size: 1rem;
    display: block;
    padding-top: 0.555555rem;
}

main ul li .icon-temaishixin {
    color: #Df3D3f;
}

main ul li .icon-dianyingpiao {
    color: deepskyblue;
}

main ul li .icon-ai-hongbao1 {
    color: #D43D3D;
}

main ul li .icon-dingdan1 {
    color: deepskyblue;
}