body {
    background: #e9e9e9;
}

/*顶部登录区域*/
header {
    width: 100%;
    height: 170px;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
}

header .login {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    padding-top: 55px;
}

header .login > a:not(:nth-last-of-type(1)) {
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #ffffff;
    border-radius: 50%;
    text-align: center;
    margin-left: 35px;
}

header .right {
    line-height: 55px;
    color: #eee;
    font-size: 22px;
    /*margin-left: 10px;*/
}

header .icon-shouji {
    font-size: 32px;
    color: #D43D3D;
}

header .icon-weixin {
    font-size: 36px;
    color: #2BAD13;
}

header .icon-qq-color {
    font-size: 36px;
    color: #388BFF;
}

header p {
    margin-top: 30px;
    font-size: 13px;
    color: #eee;;
}

/*主要内容部分*/
main {
    width: 100%;
    overflow-x: hidden;
}

/*收藏栏*/
main .gongneng {
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: space-around;
}

main .gongneng span {
    display: block;
}

main .gongneng > a {
    display: block;
    width: 33.4%;
    font-size: 13px;
    text-align: center;
}

main .gongneng .iconfont {
    padding-top: 5px;
    font-size: 28px;
}

main .gongneng .icon-shoucang {
    color: orange;
}

main .gongneng .icon-lishi {
    color: deeppink;
}

main .gongneng .icon-yejianmoshi {
    color: deepskyblue;
}

/*消息通知*/
main .message {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #ffffff;
    display: flex;
    padding: 0 10px;
    margin-top: 15px;
}

main .message .left {
    width: 90%;
}

/*头条商城部分*/
main .mall, .setting {
    width: 100%;
    background: #ffffff;
    margin-top: 15px;
    padding: 0 10px;
}

main .mall > a, main .setting > a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: flex;
    border-bottom: 1px solid #eee;
}

main .mall > a:nth-last-of-type(1), main .setting > a:nth-last-of-type(1) {
    border-bottom: none;
}

main .mall .left {
    width: 40%;
}

main .mall .center {
    width: 50%;
    font-size: 13px;
    color: #999;
    text-align: right;
    margin-right: 5px;
}

main .mall .right {
    width: 10%;
}

main .setting .left {
    width: 90%;
}

/*模态窗口*/
#wrapWindow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.messageWindow {
    width: 70%;
    height: 55%;
    position: absolute;
    top: 20%;
    left: 15%;
    background: #ffffff;
}

.messageWindow .top {
    width: 100%;
    height: 10%;
    line-height: 2;
    position: relative;
}

.messageWindow .top .icon-iconcha {
    position: absolute;
    right: 10px;
}

.messageWindow .title {
    width: 100%;
    heigth: 25%;
    padding: 10px 0;
    text-align: center;
}

.messageWindow .phoneLogin, .messageWindow .weChatLogin, .messageWindow .QQLogin {
    width: 80%;
    height: 12%;
    display: flex;
    text-align: center;
    margin: 20px auto;
}

.messageWindow .phoneLogin {
    border: 1px solid #D43D3D;
}

.messageWindow .phoneLogin .icon-shouji {
    font-size: 24px;
    color: #D43D3D;
}

.messageWindow .weChatLogin {
    border: 1px solid #2BAD13;
}

.messageWindow .weChatLogin .icon-weixin {
    font-size: 24px;
    color: #2BAD13;
}

.messageWindow .QQLogin {
    border: 1px solid #388BFF;
}

.messageWindow .QQLogin .icon-qq-color {
    font-size: 24px;
    color: #388BFF;
}

.messageWindow .phoneLogin .left, .messageWindow .weChatLogin .left, .messageWindow .QQLogin .left {
    width: 20%;
    height: 100%;
    line-height: 2;
}

.messageWindow .phoneLogin .right {
    color: #D43D3D;
}

.messageWindow .weChatLogin .right {
    color: #2BAD13;
}

.messageWindow .QQLogin .right {
    color: #388BFF;
}

.messageWindow .phoneLogin .right, .messageWindow .weChatLogin .right, .messageWindow .QQLogin .right {
    width: 60%;
    height: 100%;
    line-height: 3;
    text-align: center;
    font-size: 14px;
}

.messageWindow .more {
    width: 100%;
    text-align: center;
}