/*头部标题栏*/
header {
    width: 10rem;
    height: 1.388888rem;
    background: #d43d3d;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

header .left {
    width: 1rem;
    height: 100%;
    margin-left: 0.277777rem;
}

/*左侧广告按钮*/
header .left .adBtn {
    display: block;
    width: 1rem;
    height: 100%;
    background: url("http://s3b.pstatp.com/growth/mobile_list/image/feed_ic_message_normal@3x_f2ea949f120fda7532de30660fd47455.png") 0 50% no-repeat;
    background-size: 85% 55%;
}

header .center {
    width: 8rem;
    height: 100%;
}

header .center a {
    display: inline-block;
}

/*中间标题*/
header .center .title {
    width: 65%;
    height: 100%;
    background: url("http://s3.pstatp.com/growth/mobile_list/image/wap_logo@3x_581de69e38eae19e1cc57449a97be10f.png") right no-repeat;
    background-size: 55% 45%;
}

/*中间刷新按钮*/
header .center .refreshBtn {
    width: 10%;
    height: 100%;
    background: url(//s3a.pstatp.com/growth/mobile_list/image/titlebar_refresh_small@3x_96fb31e43870246a450c5812493204bd.png) 50% 50% no-repeat;
    background-size: 55% 30%;
    transform-origin: 50% 50%;
    /*animation: rotate-freshBtn 0.6s infinite normal linear;*/
    /*-webkit-animation-fill-mode: backwards;*/
}

@keyframes rotate-freshBtn {
    100% {
        transform: rotateZ(360deg);
    }
}

header .right {
    width: 1rem;
    height: 100%;
    margin-right: 0.277777rem;
}

/*右侧搜索按钮*/
header .right .searchBtn {
    display: block;
    width: 100%;
    height: 100%;
    background: url(//s3.pstatp.com/growth/mobile_list/image/feed_ic_search_normal@3x_0f198e566fac66cbb016bc72f15d4f39.png) no-repeat 50%;
    background-size: 70% 50%;
}

/*顶部导航栏*/
nav {
    width: 88%;
    height: 1.25rem;
    background: #F4F5F6;
    position: fixed;
    top: 1.388888rem;
    left: 0;
    right: 0;
    display: flex;
    overflow-x: auto;
    z-index: 9999;
}

/*隐藏滚动条*/
::-webkit-scrollbar {
    width: 0px;
}

nav li {
    width: 1.388888rem;
    height: 100%;
    line-height: 1.25rem;
    text-align: center;
    margin: 0 0.277777rem;
}

nav li a {
    display: block;
    width: 1.388888rem;
    height: 100%;
    font-size: 0.5rem;
}

nav li .active {
    color: #F85959;
}

nav .addDiv {
    width: 1.25rem;
    height: 1.25rem;
    position: fixed;
    right: 0;
    background: rgba(244, 245, 246, 0.9);
    box-shadow: -2px 0 2px #ccc;
}

nav .addDiv .addBtn {
    display: block;
    width: 100%;
    height: 100%;
    background: url(//s3.pstatp.com/growth/mobile_list/image/addred_channel_titlbar@3x_2106879383cd310a182d76e7e234db4c.png) no-repeat 50%;
    background-size: 50% 50%;
}

/*下拉刷新*/
.downRefresh {
    width: 100%;
    text-align: center;
    position: relative;
    top: 1.944444rem;
}

/*主要内容部分*/
.scroll {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 1.388888rem;
    overflow: auto;
}

.has-header {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

/*
ion-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px;
}
*/

main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 2.638888rem;
    left: 0;
    right: 0;
    bottom: 1.388888rem;
    overflow: auto;
}

main .refreshFlag {
    width: 100%;
    background: rgba(135, 206, 250, 0.7);
    text-align: center;
    position: fixed;
    top: 2.638888rem;
    left: 0;
    right: 0;
}

main .refreshFlag .refreshDesc {
    color: blue;
}

main .has_action {
    margin: 0 0.416666rem;
    padding: 0.416666rem 0;
    border-bottom: 1px solid #eee;
}

main .middle-model .article_link {
    display: block;
    display: flex;
}

.item_detail .title {
    font-size: 0.5rem;
    color: #444;
    font-weight: normal;
}

.item_detail .list_img_item {
    margin-right: 0.138888rem;
}

.item_detail .item_info {
    margin-top: 0.138888rem;
}

.item_detail .item_info > span {
    color: #999;
    font-size: 0.333333rem;
}

main .article_link {
    display: block;
}

main .has_action .img_list {
    display: flex;
    margin-top: 0.138888rem;
}

/*
!*底部导航栏*!
footer {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #eee;
    background: #eee;
}

footer ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

footer ul li {
    height: 100%;
}

footer ul li a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 10px;
    text-align: center;
    margin-top: 5px;
}

footer ul li a span {
    display: block;
}

footer ul li a .iconfont {
    font-size: 28px;
}

footer ul li .active {
    color: #D43D3D;
}

*/

